
<h3 class="text-center  wowload fadeInUp">Estadisticas</h3>
<!-- About Starts -->
<div class="highlight-info">
<div class="overlay spacer">
<div class="container">
<div class="row text-center  wowload fadeInDownBig">
  <div class="col-sm-3 col-xs-6">
  <i class="fa fa-female  fa-5x"></i><h4>{% for d in mujer %}{{ d.1 }}{% endfor %} Miembras</h4>
  </div>
  <div class="col-sm-3 col-xs-6">
  <i class="fa fa-child fa-5x"></i><h4>{% for d in hombre %}{{ d.1 }}{% endfor %} Miembros</h4>
  </div>
  <div class="col-sm-3 col-xs-6">
  <i class="fa fa-cubes  fa-5x"></i><h4>{% for d in producto %}{{ d.1 }}{% endfor %} Productos</h4>
  </div>
  <div class="col-sm-3 col-xs-6">
  <i class="fa fa-cutlery  fa-5x"></i><h4>{% for d in servicio %}{{ d.1 }}{% endfor %} Servicios registrados</h4>
  </div>
</div>
</div>
</div>
</div>
<!-- About Ends -->