<!-- Cirlce Starts -->
<div id="about"  class="container spacer about">
<h2 class="text-center wowload fadeInUp">Sistema de Seguimiento a Iniciativas y Vinculaciones en la Economía Local </h2>  
  <div class="row">
  <div class="col-sm-6 wowload fadeInLeft">
    <h4><i class="fa fa-crosshairs"></i> Objetivo </h4>
    <p>A través de este sistema, administradores o promotores de redes de intercambio pueden gestionar toda la información de las actividades de los miembros de manera centralizada, así como manejar indicadores básicos para los procesos de Monitoreo y Evaluación.</p>
  </div>
  <div class="col-sm-6 wowload fadeInRight">
  <h4><i class="fa fa-dropbox"></i> Productos y servicios</h4>
  <p>Este modulo se utiliza para gestionar las categorías de los diversos tipos de productos y servicios presentes en la red de intercambio. A su vez, presenta un resumen de los negocios ofrecen o demandan cada categoría.</p>    
  </div>
  </div>

  <div class="services">
  <h3 class="text-center wowload fadeInUp">Servicios y productos que se ofrecen en la red</h3>
  <ul class="row text-center list-inline  wowload bounceInUp">
      <li>
            <span><i class="fa fa-pagelines"></i><b>Produccion agricola</b></span>
        </li>
        <li>
            <span><i class="fa fa-child"></i><b>Calzado</b></span>
        </li>
        <li>
            <span><i class="fa fa-cogs"></i><b>Construcción</b></span>
        </li>
        <li>
            <span><i class="fa fa-paw"></i><b>Ganado</b></span>
        </li>        
        <li>
            <span><i class="fa fa-anchor"></i><b>Pesca</b></span>
        </li>
    </ul>
  </div>
</div>
<!-- #Cirlce Ends -->